<section id="forgot-password">
    <div class="auth-form py-5">
        <div class="text-center">
            <img src="../../../assets/images/logo.svg" alt="">
        </div>
  
  
  
        <div class="px-5">
            <h2>Forgot Your Password?</h2>
            <p>Welcome Back! Please enter your details</p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile"></i></span>
                    <input formControlName="email" type="email" class="form-control" name="email" placeholder="Enter Your Email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="d-flex justify-content-between ">
                    <button  class="text-decoration-none btn bg-main text-white w-100"  >Reset Now?</button>
                    <span ><i class="fa-solid text-white"></i></span>
                    
                </div>
            </form>
            
        </div>
    </div>
  </section>

