<section >
    <h2 mat-dialog-title>Add Category</h2>
<mat-dialog-content>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-layer-group"></i></span>
    <input maxlength="10" [(ngModel)]="data.name" type="text" class="form-control"  placeholder="Enter Category Name" aria-label="Username" aria-describedby="basic-addon1">
</div>
</mat-dialog-content>
<mat-dialog-actions class=" d-flex justify-content-between">
  <button mat-button (click)="onNoClick()" class= " btn bg-danger text-white">Close</button>
  <button mat-button [mat-dialog-close]="name ? name : data" class=" btn bg-main text-white " cdkFocusInitial>Save</button>
</mat-dialog-actions>
</section>